body {
  background-image: url("../src/assets/frame-1.png");
  font-family: "Tiny5", sans-serif;
}

header {
  align-items: end;
}

.button-info {
  position: fixed;
  top: 2%;
  right: 2%;
  font-size: 40px;
  font-family: "Tiny5", sans-serif;
  border: none;
  background-color: transparent;
  color: #a04e02;
  transition: opacity 0.15s;
}
.button-info:hover {
  opacity: 0.8;
  cursor: pointer;
}
.button-info:active {
  opacity: 0.6;
}

.title {
  position: fixed;
  top: 50%;
  left: 55%;
  font-size: 40px;
  color: #313C39;
  text-decoration: underline;
  cursor: default;
}