body {
  background-image: url("../src/assets/frame-1.png");
  font-family: "Tiny5", sans-serif;
}

header {
  align-items: end;
}

.button-info {
  position: fixed;
  top: 2%;
  right: 2%;
  font-size: 40px;
  font-family: "Tiny5", sans-serif;
  border: none;
  background-color: transparent;
  color: #a04e02;
  transition: opacity 0.15s;
}
.button-info:hover {
  opacity: 0.8;
  cursor: pointer;
}
.button-info:active {
  opacity: 0.6;
}

.text-info {
  display: none;
  background-color: rgba(9, 8, 13, 0.6);
  border-radius: 5px;
  width: 300px;
  height: 318px;
  font-size: 35px;
  color: yellow;
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 10px;
}

.title {
  position: fixed;
  top: 55%;
  left: 55%;
  font-size: 40px;
  color: #313C39;
  cursor: default;
  font-family: "Tiny5", sans-serif;
  border: none;
  background-color: transparent;
  transition: all 0.15;
}
.title:hover {
  text-decoration: underline;
  cursor: pointer;
}
.title:active {
  opacity: 0.8;
}